In [1]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

In [2]:
rep = pd.read_csv('BitFinex/Bitfinex_REPUSD_d.csv', skiprows=1)

In [7]:
rep.drop('symbol', axis=1, inplace=True)

In [10]:
rep.describe()

,open,high,low,close,Volume USD,Volume REP
count,1161.000000,1161.000000,1161.000000,1161.000000,1161.000000,1161.000000
mean,18.927197,19.901361,18.137011,18.890605,16541.419325,491.420406
std,10.625021,11.668359,9.870323,10.625941,56770.290164,1353.189679
min,5.783000,6.001000,5.779000,5.783000,0.000000,0.000000
25%,11.690000,12.230000,11.230000,11.500000,68.920000,4.973000
50%,14.990000,15.800000,14.583000,14.930000,742.427923,50.300000
75%,21.668000,22.580000,20.717000,21.570000,6076.490000,331.200000
max,56.630000,88.000000,52.500000,56.630000,960620.810000,16024.940000